*{padding: 0;margin: 0;}
*{box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
ul,li{list-style: none}
a{color: inherit;text-decoration: none}
input{font: inherit}

/* layout */

#controlPanel {display: flex;height: 100vh;}
#controlPanel>.songList {width: 300px;background: #fff;}
#controlPanel>.songDiscription {flex-grow: 1;background: #000;padding-left: 20px;display: flex;align-items: center;flex-direction: column;justify-content: center;}

/* aside */

.songList {display: flex;flex-direction: column;padding: 0px 0px 5px 5px;}
.songList>.createSong { text-align: center;font-weight: bold;font-size: 16px;}
.songList>.createSong>h2 { padding: 15px 0;color: #000;}
.songList>.createSong.active>h2 { background: #000;color: #fff;}

.songList>.songListContainer {flex-grow: 1;}
.songList>.songListContainer>ul{text-align: center;}
.songList>.songListContainer>ul>li{padding: 10px 0;border-bottom: solid #000 1px;}
.songList>.songListContainer>ul>li.active{background: #000;color:#fff}
.songList>.uploadContainer{ cursor: pointer;}
.songList>.uploadContainer>#uploadArea {display: flex;}
.songList>.uploadContainer>#uploadArea>#uploadBtn {display: flex;flex-direction: column;text-align: center;padding:20px;border-radius: 10px;border: 1px dashed #cccccc;width: 100%;}

/* main */
.songDiscription>.songDiscriptionSubmitContainer>h2{background: #fff;text-align: center;padding-top: 15px;}
.songDiscription>.songDiscriptionSubmitContainer>form {display:flex;flex-direction: column;justify-content: center;}
.songDiscription>.songDiscriptionSubmitContainer>form>label {background: #fff;padding: 30px 40px 0 40px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label:last-child{display: flex;justify-content: flex-end;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>span {color: #000;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=text] {border: #000 solid 1px;padding: 5px}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=submit] {padding: 5px 20px;align-self: flex-end;background: #000;color: #fff;border: 0;outline: none;cursor: pointer;border:#fff solid 1px;margin-bottom: 10px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=submit]:hover{background: #fff;color: #000;border: #000 solid 1px;}

/* siteLoading */

@keyframes circle{
    0%{transform:scale(0.05)}
    100%{transform:scale(1)}
}
.siteLoading{position: fixed;height: 100vh;width: 100%;z-index: 1;background: #ccc;display: flex;justify-content: center;align-items: center;visibility: hidden;}
.siteLoading.active{visibility: visible;}
.siteLoading .circle{width: 100px;height: 100px;background: #333;border-radius: 50%;animation: circle infinite 1s alternate-reverse;}

