*{padding: 0;margin: 0;}
*{box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
ul,li{list-style: none}
a{color: inherit;text-decoration: none}
input{font: inherit}
body{background: #f5f7fc;font-family: "Lato","PingFang SC","Microsoft YaHei",sans-serif;}

/* layout */

#controlPanel {display: flex;height: 100vh;flex-direction: column;padding: 10px;}
#controlPanel>.songList {flex-grow: 1;}
#controlPanel .songDiscription {background: #fff;border-radius: 10px;padding:  20px;}

/* songList */

.songList {display: flex;padding-top: 10px;}
.songList>.createSong { text-align: center;font-weight: bold;font-size: 16px;}
.songList>.createSong>h2 { padding: 15px 0;color: #000;}
.songList>.createSong.active>h2 { background: #000;color: #fff;}

.songList>.songListContainer {flex-grow: 1;border-radius: 10px;margin-right: 10px;background: #fff;}
.songList>.songListContainer>ul{padding: 10px;}
.songList>.songListContainer>ul>li{padding: 10px 0px 10px 10px;;background: #f4f4f4;border-radius: 3px;}
.songList>.songListContainer>ul>li.white{background: #fff;}
.songList>.songListContainer>ul>li>span{padding: 0 10px;}
.songList>.songListContainer>ul>li>img{width: 21px;height: 21px;vertical-align: top;}
.songList>.songListContainer>ul>li.active{color:#C20C0C;}

/* upload */

.uploadContainer{ cursor: pointer;}
.uploadContainer>#uploadArea {display: flex;color: #666;}
.uploadContainer>#uploadArea>#uploadBtn {display: flex;flex-direction: column;text-align: center;padding:40px;border-radius: 10px;border: 1px dashed #C20C0C;width: 100%;background: #fff;}

/* songDiscription */
.songDiscription>.songDiscriptionSubmitContainer>h2{text-align: center;padding: 15px 0;color: #C20C0C;}
.songDiscription>.songDiscriptionSubmitContainer>form {display:flex;justify-content: center;flex-direction: column;}
.songDiscription>.songDiscriptionSubmitContainer>form>label {padding: 10px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label:nth-child(5){align-self: flex-start;}
.songDiscription>.songDiscriptionSubmitContainer>form>label:last-child{display: flex;justify-content: flex-end;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>span {color: #000;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=text] {border: #4F4F4F solid 1px;padding: 5px;border-radius: 5px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=submit] {padding: 5px 20px;align-self: flex-end;background: #C20C0C;color: #fff;outline: none;cursor: pointer;border:#fff solid 1px;margin-bottom: 10px;border-radius: 4px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>textarea{border: #4F4F4F solid 1px;border-radius: 5px;}
.songDiscription>.songDiscriptionSubmitContainer>form>label>input[type=submit]:hover{background: #fff;color: #C20C0C;border: #C20C0C solid 1px;}

/* siteLoading */

@keyframes circle{
    0%{transform:scale(0.05)}
    100%{transform:scale(1)}
}
.siteLoading{position: fixed;height: 100vh;width: 100%;z-index: 1;background: #fff;display: flex;justify-content: center;align-items: center;visibility: hidden;}
.siteLoading.active{visibility: visible;}
.siteLoading .circle{width: 100px;height: 100px;background: #C20C0C;border-radius: 50%;animation: circle infinite .5s alternate-reverse;}

